<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @entry.name %>
</p>

<p>
  <b>Note:</b>
  <%= @entry.note %>
</p>

<p>
  <b>Lat:</b>
  <%= @entry.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @entry.long %>
</p>

<p>
  <b>Journy:</b>
  <%= @entry.journy_id %>
</p>

<p>
  <b>Photo description:</b>
  <%= @entry.photo_description %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
