<h1>Listing journies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journies.each do |journy| %>
  <tr>
    <td><%= journy.name %></td>
    <td><%= journy.description %></td>
    <td><%= link_to 'Show', journy %></td>
    <td><%= link_to 'Edit', edit_journy_path(journy) %></td>
    <td><%= link_to 'Destroy', journy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Journy', new_journy_path %>
